arabert
arabic-reshaper
bottleneck
chardet
gdown
gensim
ipykernel
keras-preprocessing
mkl-fft
mkl-random
nbconvert
nltk
numexpr
nvidia-cudnn-cu11
openpyxl
pip-chill
pysocks
python-bidi
ruqia
scikit-learn
streamlit
tensorflow
transformers
wordcloud
